
*{
    box-sizing: border-box;
}

.container{
    background-color: rgb(52, 21, 230);
    border: 5px solid rgb(225, 21, 150);
    /* padding: 90px; */
    padding-top: 35px;
    padding-left: 20px;
    padding-bottom: 15px;
    /* padding: 23px, 56px, 15px, 20px; padding: top, right, bottom, left */
    /* padding: 50px 35px --- padding: y(top/bottom) x(left/rihht); */
    /* margin: 12px; */
    margin-top: 15px;
}