
.container{
    border: 5px solid green;
    background-color: cadetblue;
    padding: 34px;
    margin: 34px auto;
    width: 777px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(245, 2, 2);
    background-color: rgb(51, 242, 124);
}

a:visited{
    background-color: rgb(250, 14, 124);
}

a:active{
    background-color: blue;
}

.btn{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: aquamarine;
    padding: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.btn:hover{
    color: aqua;
    background-color: blueviolet;
    border: 5px solid goldenrod;
}

.btn:visited{
    /* background-color: black; */
}